body{
    font-family:NeuePlak-Regular,ParaType,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 1.2em;
    padding: 1.8% 1.8% 0% 1.8%;
    background-color: #CDCFDD;

}
#container{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding: 2% 2%;
    background-color: #A0A3BF;
    border-radius: 5px;
    font-size: 1.5rem;
}

#container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    column-gap: 10px;
    row-gap: 30px;
    padding-bottom: 60px;
}
.banner{
    grid-column: 1/4;  
}
.sale{
    position: absolute;
    top: 50%;
    left: 33%;
    animation-name: sale;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
.img{
    border-radius: 50px;
}
#container3{
    display: flex;
    justify-content:space-around;
    background-color: #A0A3BF;
}
a{
    text-decoration: none;
    color: black
}
@media (max-width: 480px){
    #container3{
        font-size: 0.7rem;
    }
    #container{
        display: flex;
        font-size: 0.8rem;
        justify-content: space-evenly;
        gap: 10%
    }
    #container nav img{
        width: 25%

    }
    .sale{
        top:12%
    }
}
@keyframes sale{
    0%{
        
        
    }
    50%{
        width: 40%;
        left: 30%
    }
    100%{    
        
    }
}
