body{
    font-family:NeuePlak-Regular,ParaType,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 1.2em;
    padding: 1.8% 1.8% 0% 1.8%;
    background-color: #CDCFDD;

}
#container{
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;
    background-color: #A0A3BF;
    border-radius: 5px;
    font-size: 1.5rem;
}

#container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    column-gap: 10px;
    row-gap: 30px;
    padding-bottom: 60px;
}
.banner{
    grid-column: 1/4;  
}

.img{
    border-radius: 50px;
}
#container3{
    display: flex;
    justify-content:space-around;
    background-color: #A0A3BF;
}
a{
    text-decoration: none;
    color: black
}
