body{
    font-family:NeuePlak-Regular,ParaType,Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-size: 1.2em;
    padding: 1.8% 1.8% 1.8% 1.8%;
    background-color: #CDCFDD;
}
/* Encabezado de catálogo */
#container{
    display: flex;
    justify-content: space-between;
    background-color: #A0A3BF;
    padding: 2% 2%;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 3%;
    text-align:end  ; */
}
/* grid de contenido */
#container2{
    display: grid;
    grid-template-columns: 0.47fr 2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
    gap: 1%;
    grid-template-areas: "img1-1 imag1 about"
        "img1-2 imag1 about"
        "img1-3 imag1 about"
        "img1-4 imag1 about"
        ". . .";
}
.img1-1{
    grid-area: img1-1;
}
.img1-2{
    grid-area: img1-2
}
.img1-3{
    grid-area: img1-3
}
.img1-4{
    grid-area: img1-4;  
}
.imag1{
    
    grid-area: imag1;
}
.about{
    grid-area: about;
    padding-left: 5%;
}
/* botón de obtener */
.boton{
    background-color: black;
    color: white;
    width:100px;
    text-align: center;
    border-radius: 10px;
    padding: 0.5% 0.5%;
    cursor: pointer;
}
.boton:hover{
    background-color: rgba(129, 133, 134, 0.95);
}



